
.Home .lander {
    padding: 80px 0;
    text-align: center;
    background-color: black;
    height: 100%;
  }
  
  .Home .lander h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    color: yellow;
  }
  
  .Home .lander p {
    color: rgb(211, 209, 209);
  }

  .Home .notes h4 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    overflow: hidden;
    line-height: 1.5;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .Home .notes p {
    color: #666;
  }
  .Home .lander div {
    height: 100%;
    padding-top: 20px;
  }
  .Home .lander div a:first-child {
    margin-right: 20px;
  }
  
  .Home {
    background-color: black;
    padding: 20px;
  }