html, .body {
    height: 100%;
    /* background-color: black; */
  }
  
  .body {
    position: relative;
    display: grid;
    place-items: center;
  }
  
  .div {
    position: absolute;
    font-size: 6vw;
    color: white;
    text-transform: uppercase;
    font-family: "Modak", cursive;
  }